@font-face {
  font-family: 'iransans';
  src: url(../fonts/iransans.eot);
  src: local(iransans), url(../fonts/iransans.eot?#iefix) format("embedded-opentype"), url(../fonts/iransans.woff) format("woff"), url(../fonts/iransans.woff2) format("woff2"), url(../fonts/iransans.ttf) format("truetype"), url(../fonts/iransans.svg#iransans) format("svg");
  font-weight: 400;
  font-style: normal;
}

html, body {
  font-family: iransans, Tahoma, verdana, Arial, 'sans-serif';
  font-size: 14px;
  color: #000;
  line-height: 1.6;
  direction: rtl;
  text-align: right;
  background-color: #edeff2 !important;
}

header ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}

header ul li {
  text-decoration: none;
  display: inline;
  margin: 0 0 0px 20px;
  font-size: 14px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #2b468d;
}

h1 {
  line-height: 27px;
}

h2 {
  line-height: 28px;
}

h3 {
  line-height: 22px;
}

h4, h5 {
  line-height: 19px;
}

a:link {
  color: inherit !important;
}

p, address {
  margin-left: inherit !important;
}

span {
  font-size: inherit !important;
}

main {
  text-align: center;
}

.container {
  max-width: 1150px;
  padding: 0;
}

.noPad {
  padding: 0;
  margin: 0;
}

.WHUnSet {
  width: unset !important;
  height: unset !important;
}

.ads {
  height: 85px;
  width: 100%;
  margin-bottom: 10px;
  object-fit: fill;
}

.wideAds {
  height: 85px;
  width: 610px;
  margin: 10px 0;
  float: left;
  object-fit: fill;
}

.marginAuto {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.marginAuto:parent {
  text-align: center;
}

.owl-dots {
  position: absolute;
  bottom: 5px;
  right: 2px;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-dots .owl-dot span {
  display: block;
  -webkit-backface-visibility: visible;
  position: relative;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  width: 6px;
  height: 6px;
  margin: 0 2px;
  text-indent: -999px;
  background-color: rgba(0, 0, 0, 0.5);
}

.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #601a2f;
}

.owl-carousel.owl-drag .owl-item {
  text-align: center;
}

/*header*/
.firstMenu {
  overflow: hidden;
  background: #4C1324;
  height: 35px;
}

.firstMenu ul {
  color: white;
}

.firstMenu ul li {
  font-size: 11px;
}

.firstMenu ul li:hover a {
  color: #b77183;
}

.firstMenu ul li a {
  color: white !important;
}

.firstMenu .searchBox {
  text-align: left;
}

.firstMenu .searchBox .searchInputBox {
  position: relative;
  z-index: 10;
  margin: 0px;
  width: 80%;
  height: 35px;
  padding: 0 5px;
}

.firstMenu .searchBox button {
  background: none;
  color: white;
  padding-right: 2px;
}

.baner {
  height: 90px;
  background: url("../images/baner.jpg") no-repeat left top;
  background-size: cover;
}

.baner .wideAds {
  height: 60px;
  width: 530px;
  margin-bottom: 10px;
  margin-top: 15px;
  float: left;
}

.secMenu {
  background: white;
  padding-top: 2px;
  /* rtl */
  /* end rtl */
  /* rtl */
  /* end rtl */
}

.secMenu nav {
  margin-bottom: 3px;
}

.secMenu a {
  position: relative;
}

.secMenu a:before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 1px;
  background: #601a2f;
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.secMenu a:hover:before {
  left: 0;
  right: 0;
}

.secMenu .navbar-toggler {
  border-color: #1d2124;
  padding: 0;
}

.secMenu .nav-item {
  display: inline-block;
  width: 85px;
  margin-left: 0;
  text-align: center;
}

.secMenu ul.navbar-nav {
  display: inline-block;
  width: 100%;
}

.secMenu .navbar-light .navbar-nav .nav-link {
  color: #333;
}

.secMenu .navbar-light .navbar-nav .active > .nav-link, .secMenu .navbar-light .navbar-nav .nav-link.active, .secMenu .navbar-light .navbar-nav .nav-link.show, .secMenu .navbar-light .navbar-nav .show > .nav-link {
  color: #333;
}

@media (max-width: 1106px) {
  .secMenu .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .secMenu .navbar-nav .nav-link {
    border: 0;
  }
  .secMenu .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 901px) {
  .secMenu .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .secMenu .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .secMenu .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .secMenu .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .secMenu .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}

@media (max-width: 1106px) {
  .secMenu .navbar-expand-lg > .container, .secMenu .navbar-expand-lg > .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 950px) {
  .secMenu .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

@media (max-width: 1107px) {
  .secMenu .navbar-light .navbar-toggler {
    border-color: white;
    padding: 0px 3px;
    right: 0;
  }
  .secMenu .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .secMenu .navbar-light .navbar-nav .nav-link {
    color: #2e2e2e !important;
    font-size: 12px;
    /* border: 0; */
    padding: .7rem .7rem .5rem !important;
  }
  .secMenu .pad_top_links .navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
  }
  .secMenu .l_border {
    border-left: 1px #F1F1F1 solid;
  }
  .secMenu .navbar-light .navbar-nav .open > .nav-link, .secMenu .navbar-light .navbar-nav .active > .nav-link, .secMenu .navbar-light .navbar-nav .nav-link.open, .secMenu .navbar-light .navbar-nav .nav-link.active {
    color: #a4bdff;
  }
}

@media (max-width: 1106px) {
  .secMenu .top_links_navbar .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .secMenu .top_links_navbar > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 811px) {
  .secMenu .top_links_navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .secMenu .top_links_navbar .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .secMenu .top_links_navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: 11px;
  }
  .secMenu .top_links_navbar > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .secMenu .top_links_navbar .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .secMenu .top_links_navbar .navbar-toggler {
    display: none;
  }
}

.secMenu .row_menu .container {
  padding: 0;
}

@media (max-width: 767px) {
  .secMenu .login_div {
    padding: 0;
  }
  .secMenu .div_copyright {
    text-align: center;
  }
  .secMenu .top_links_navbar .navbar-expand-lg > .container, .secMenu .navbar-expand-lg > .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .secMenu .login_div {
    position: absolute;
    left: 0;
    /*width: 98px;*/
    width: 250px;
    border-width: 0;
    padding: 0;
  }
  .secMenu .top_links .navbar-nav {
    width: 100%;
    display: inline-block;
    border-top: 1px #2b468d solid;
  }
  .secMenu .top_links .navbar-nav .nav-item {
    width: auto;
    float: right;
  }
  .secMenu .top_links .navbar-nav .nav-item a {
    font-size: 11px;
    border-right: 0px #f1f1f1 solid !important;
  }
  .secMenu .top_links .navbar-nav .nav-item a:last-child {
    border-right: 0px #f1f1f1 solid !important;
  }
}

@media (min-width: 768px) {
  .secMenu .top_links_navbar .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .secMenu .login {
    padding: 7px 10px !important;
  }
  .secMenu .col_menu {
    width: 100%;
  }
  .secMenu .top_links_navbar .navbar-toggler {
    border-color: #ffffff;
    padding: 0px 2px;
    right: 0;
  }
}

@media (max-width: 810px) {
  .secMenu .top_links {
    padding-top: 8px !important;
  }
  .secMenu .top_links_navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .secMenu .top_links_navbar .navbar-nav .nav-link {
    color: white;
    /* font-size: 14px; */
    border: 0;
    padding: .6rem 0rem .6rem 1.5rem !important;
  }
  .secMenu .top_links_navbar .navbar-nav .open > .nav-link, .secMenu .top_links_navbar .navbar-nav .active > .nav-link, .secMenu .top_links_navbar .navbar-nav .nav-link.open, .secMenu .top_links_navbar .navbar-nav .nav-link.active {
    color: #a4bdff;
  }
}

.secMenu button.navbar-toggler {
  background-color: #5f303c;
}

.shortBox {
  padding-top: 5px;
  margin-bottom: 10px;
  height: 30px;
  background: #CCCCCC;
  -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.34902) inset;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.34902) inset;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.34902) inset;
}

.shortBox ul li {
  font-size: 14px;
}

.shortBox .newsSummary i {
  color: #4C1324;
}

.shortBox .newsSummary h3 {
  font-size: 12px;
  line-height: 20px;
}

.ticker {
  position: relative;
}

.ticker ul {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

.ticker ul li {
  width: calc(100% - 126px);
  display: inline;
  padding: 0px 20px;
  margin-right: 10px;
  font-size: 12px;
}

.ticker ul li b {
  color: #2e2e2e !important;
}

.ticker a {
  color: black;
  float: right;
  height: 20px;
  overflow: hidden;
}

/*main*/
.titleBg {
  color: white;
  text-align: right;
  font-size: 14px;
  min-height: 35px;
  padding: 5px 20px;
  background: #4C1324 url("../images/title.png") no-repeat left top;
}

.titleBg h2 {
  font-size: 14px;
  display: inline;
  line-height: 27px;
}

.contentBox {
  background: white;
  padding: 10px 5px;
}

/*right*/
.right {
  width: 530px;
  float: right;
  margin-left: 10px;
  text-align: center;
}

.right .wideAds {
  margin-top: 0px;
}

.newsSlider {
  background: white;
  border: 1px solid #CCCCCC;
  padding: 5px;
  position: relative;
  overflow: hidden;
  height: 304px;
  margin-bottom: 10px;
}

.newsSlider .carousel-caption {
  height: 36px;
  overflow: hidden;
}

.newsSlider .owl-item:hover .carousel-caption h2 {
  background: rgba(95, 48, 60, 0.8);
}

.newsSlider .col-md-12 {
  direction: ltr;
}

.newsSlider img {
  height: 292px;
  width: 100%;
  object-fit: unset;
}

.newsSlider .title {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  bottom: 22px;
  right: 0;
  padding: 5px 5px 0 20px;
  vertical-align: top;
  max-height: 40px;
  overflow: hidden;
}

.newsSlider .title h2 {
  color: white;
  font-size: 15px;
  max-height: 30px;
  max-width: 460px;
}

.newsSlider .carousel-caption {
  padding: 0;
  right: 0;
  max-width: 400px;
  left: unset;
}

.newsSlider .carousel-caption h2 {
  background: rgba(0, 0, 0, 0.7);
  line-height: 28px;
  padding: 2px 10px;
  font-size: 15px;
  height: 35px;
}

.newsSlider .owl-prev i, .newsSlider .owl-next i {
  background-color: #000000;
  padding: 8px 12px 8px 11px;
  color: white;
}

.newsSlider .owl-prev i {
  border-radius: 0 4px 4px 0;
}

.newsSlider .owl-next i {
  border-radius: 4px 0 0 4px;
}

.newsSlider .owl-prev, .newsSlider .owl-next {
  position: absolute;
  top: 45% !important;
}

.newsSlider .owl-prev {
  left: 0px;
}

.newsSlider .owl-next {
  right: 1px;
}

.newsSlider .top_links_navbar .navbar-nav .nav-link, .newsSlider .top_links_navbar .navbar-nav .nav-item:last-child {
  border-width: 0;
}

.newsSlider .owl-dots {
  position: absolute;
  top: 5px;
  left: 4px;
  right: auto;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  height: 30px;
}

.newsSlider .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.newsSlider .owl-dots .owl-dot span {
  -webkit-backface-visibility: visible;
  position: relative;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  width: 8px;
  border-radius: 50%;
  height: 8px;
  margin: 0 2px;
  text-indent: -999px;
  border: 1px solid gray;
}

.newsSlider .owl-dots .owl-dot.active span, .newsSlider .owl-theme .owl-dots .owl-dot:hover span {
  background-color: white;
}

.selectedBoxLeft {
  padding-right: 5px;
}

.selectedBoxRight {
  padding-left: 5px;
}

.selectedBox {
  position: relative;
  background: white;
  border: 1px solid #CCCCCC;
  width: 100%;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 10px;
}

.selectedBox:hover img {
  opacity: 1;
}

.selectedBox:hover .imgTitle {
  color: #310018;
}

.selectedBox img {
  width: 127px;
  height: 72px;
  float: right;
  margin-left: 10px;
  opacity: 0.93;
}

.selectedBox i {
  font-size: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 3px;
  background: rgba(67, 19, 33, 0.8);
  color: white;
}

.selectedBox .detailNews {
  font-size: 11px;
  overflow: hidden;
  float: right;
  width: calc(100% - 137px);
  text-align: right;
}

.selectedBox .detailNews h3 {
  font-size: 10px;
  height: 27px;
  overflow: hidden;
  line-height: 14px;
  color: #2e2e2e;
  margin-bottom: 8px;
}

.selectedBox .detailNews .NewsShort {
  font-size: 10px;
  height: 31px;
  overflow: hidden;
  color: #2e2e2e;
}

/*center*/
.center {
  width: 335px;
  float: right;
  margin-left: 10px;
}

.mostView .contentBox {
  padding: 0 5px;
  border: 1px solid #CCCCCC;
}

.mostView .content {
  height: 579px;
  overflow: hidden;
  padding-bottom: 10px;
}

.mostView .dataList {
  padding: 10px 5px 10px;
  border-bottom: 1px solid #666666;
  overflow: hidden;
  height: 93px;
}

.mostView .dataList:hover img {
  border: 1px solid #2e2e2e;
  opacity: 1;
}

.mostView .dataList:hover h3 {
  color: #2e2e2e;
}

.mostView .dataList:last-child {
  border-bottom: 0;
}

.mostView .dataList img {
  vertical-align: top;
  border: 1px solid grey;
  display: inline-block;
  width: 125px;
  height: 72px;
  margin: 0px 0 0 6px;
  overflow: hidden;
  opacity: 0.93;
}

.mostView .detailNews {
  text-align: right;
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 135px);
  color: #2e2e2e;
}

.mostView .detailNews .lastNewsShort {
  font-size: 11px;
  text-align: justify;
  margin-top: 2px;
  height: 35px;
  overflow: hidden;
}

.mostView .detailNews h3 {
  font-size: 11px;
  margin-bottom: 7px;
  overflow: hidden;
  height: 20px;
}

/*left*/
.left {
  width: 265px;
  float: right;
}

.lastNews .content {
  height: 654px;
  overflow: hidden;
}

.lastNews .contentBox {
  border: 1px solid #CCCCCC;
}

.lastNews .contentBox h3 {
  font-size: 12px;
  line-height: 16px;
  vertical-align: top;
}

.lastNews .contentBox h3:hover {
  color: #5F303C;
}

.lastNews .contentBox h3 i {
  font-size: 12px;
  margin: 2px 4px;
  vertical-align: top;
  color: #4B1425;
  line-height: 14px;
}

.lastMedia {
  width: 610px;
  overflow: hidden;
  border: 1px solid #CCCCCC;
}

.lastMedia .Content {
  background: white;
  color: black;
  direction: ltr;
}

.lastMedia .Content .detailNews {
  float: right;
  width: calc(100% - 350px);
  margin: 10px 5px 10px 15px;
  color: #2e2e2e;
  height: 100px;
}

.lastMedia .Content h3 {
  line-height: 30px;
  font-size: 16px;
}

.lastMedia .owl-carousel .item:hover h3 {
  color: black;
}

.lastMedia .owl-carousel .item:hover img {
  opacity: 1;
}

.lastMedia .owl-carousel .item h3 {
  font-size: 14px;
  color: #2e2e2e;
  line-height: 24px;
  font-weight: bold;
}

.lastMedia .owl-carousel .item img {
  width: 350px;
  height: 198px;
  opacity: 0.93;
}

.lastMedia .owl-carousel .item .carousel-caption {
  right: 0;
  top: 10px;
  padding: 0 7px;
  left: auto;
  width: calc(100% - 351px);
  text-align: right;
  height: 145px;
  overflow: hidden;
  color: black;
  font-size: 12px;
  line-height: 22px;
}

.lastMedia .owl-carousel .item .carousel-caption h3 {
  height: 20px;
  overflow: hidden;
  margin-bottom: 17px;
}

.lastMedia .owl-prev, .lastMedia .owl-next {
  position: absolute;
  top: 2px !important;
}

.lastMedia .owl-prev i, .lastMedia .owl-next i {
  color: white;
  height: 7px;
}

.lastMedia .owl-prev {
  left: 2px;
}

.lastMedia .owl-next {
  left: 11px;
}

.tabMenu {
  border-bottom: 1px solid white;
  margin-bottom: 15px;
  color: white;
}

.tabMenu a {
  font-size: 14px;
  margin-left: 10px;
  color: white;
}

.nav-tabs .nav-link {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.cat_title_in {
  float: right;
  padding: 9px 0;
}

.nav-pills_in {
  margin: 11px 0;
  border-width: 0;
  color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: #4C1324;
  color: white;
}

.impoNews {
  background: #601a2f;
  height: 280px;
  width: 100%;
  margin: 35px 0 20px;
}

.impoNews .owl-item:hover img {
  opacity: 1;
}

.impoNews .owl-item:hover h3 {
  color: #c7929f;
}

.impoNews .col-md-12 {
  direction: ltr;
}

.impoNews .newsBox {
  float: right;
  margin-left: 15px;
}

.impoNews .newsBox .imgBox {
  width: 218px;
  height: 133px;
  display: inline-block;
  position: relative;
}

.impoNews .newsBox .imgBox img {
  width: 218px;
  height: 133px;
}

.impoNews .newsBox .imgBox i {
  position: absolute;
  padding: 4px;
  background: rgba(67, 19, 33, 0.8);
  color: white;
  bottom: 0;
  right: 0;
}

.impoNews .newsBox .newsCaption {
  width: 216px;
  color: wheat;
  font-size: 10px;
  overflow: hidden;
  height: 35px;
  margin-top: 3px;
  line-height: 1.6;
  text-align: justify;
}

.impoNews .owl-prev i:hover, .impoNews .owl-next i:hover {
  background: #310018;
}

.impoNews .owl-carousel .owl-item img {
  width: 100%;
  height: 146px;
  margin-bottom: 24px;
  opacity: 0.93;
}

.impoNews .carousel-caption h3 {
  width: 100%;
  font-size: 13px;
  line-height: 27px;
  height: 26px;
  overflow: hidden;
}

.impoNews .carousel-caption {
  width: 100%;
  padding: 0;
  left: 0;
  right: 0;
  position: relative;
}

.impoNews .owl-carousel .owl-item a {
  width: 90%;
  margin: 0 auto;
  display: inline-block;
}

.impoNews .owl-carousel.owl-drag .owl-item {
  text-align: center;
}

.impoNews .owl-prev, .impoNews .owl-next {
  border: 1px solid white;
  position: absolute;
  top: 25% !important;
}

.impoNews .owl-prev i, .impoNews .owl-next i {
  background-color: #000000;
  color: white;
  border-radius: 4px;
  height: 50px;
  padding: 18px 9px;
  background: rgba(67, 19, 33, 0.8);
}

.impoNews .owl-prev {
  left: 0px;
  border-radius: 4px 0 0 4px;
}

.impoNews .owl-next {
  right: 0px;
  border-radius: 0 4px 4px 0;
}

.category .tabMenu {
  border-bottom: 1px solid #2e2e2e;
  margin-top: 15px;
  line-height: 0.5;
}

.category .tabMenu a {
  color: #2e2e2e !important;
  font-size: 13px;
}

.category .tabMenu .nav-tabs .nav-link {
  border: none;
  border-radius: 0rem;
  margin: 0 10px;
}

.category .tabMenu .cat_title_in {
  padding: 9px 0;
}

.category .tabMenu .nav-pills_in {
  margin: 11px 0 0;
  color: #666666;
}

.category .tabMenu .nav-tabs .nav-item.show .nav-link, .category .tabMenu .nav-tabs .nav-link.active {
  background: transparent;
  border-bottom: 3px solid #4C1324;
  color: #2e2e2e !important;
  margin-top: 3px;
}

.category .newsBox {
  background: white;
  border: 1px solid #CCCCCC;
  padding: 5px;
  margin: 5px;
  max-width: 24%;
  color: #2e2e2e;
}

.category .newsBox img {
  opacity: 0.93;
}

.category a {
  font-size: 11px;
}

.category a:hover h3 {
  color: black;
}

.category a:hover img {
  opacity: 1;
}

.category a h3 {
  padding: 7px 0px;
  margin: 0 2px 0 4px;
  font-size: 11px;
  border-bottom: 1px #CCCCCC solid;
  text-align: right;
  vertical-align: top;
  max-height: 49px;
  overflow: hidden;
  height: 50px;
}

.category a h3 i {
  color: #4C1324;
  margin-left: 2px;
}

.category a img {
  height: 153px;
  width: 100%;
}

.category a:last-child h3 {
  border-bottom: none;
}

/*footer*/
.footer {
  background: #4C1324;
  color: white;
  height: 280px;
  padding: 40px;
  margin-top: 40px;
}

.footer img {
  width: 188px;
  vertical-align: text-bottom;
  object-fit: scale-down;
}

.footer ul {
  list-style: none;
  padding: 0;
  color: white;
  text-align: right;
}

.footer ul li {
  text-decoration: none;
  margin: 3px 0;
  font-size: 14px;
  color: white;
  vertical-align: text-top;
  margin-left: 2px;
}

.footer ul li a {
  color: #797979 !important;
}

.footer ul li a:hover {
  color: #310018 !important;
}

.footer ul li a i {
  vertical-align: text-top;
  margin-left: 2px;
  line-height: 2;
}

.footer ul li:first-child {
  color: #c7929f !important;
  border-bottom: 1px solid #310018;
  margin: 0;
  width: 90px;
}

.footer ul li:nth-child(2) {
  border-top: 1px solid #5F303C;
  margin: 0;
  width: 90px;
}

.copyright {
  border-top: 1px solid #310018;
  background: #5F303C;
  color: #c7929f;
  height: 40px;
}

.copyright h5 {
  margin: auto;
  text-align: center;
  font-size: 10px;
}

/*responsive*/
@media (max-width: 1200px) and (min-width: 900px) {
  .newsSlider {
    display: none;
  }
}

@media (max-width: 1105px) and (min-width: 900px) {
  .secMenu .nav-item {
    width: 148px;
  }
}

@media (max-width: 1200px) and (min-width: 575px) {
  .selectedBoxLeft .selectedBox:nth-last-child(1), .selectedBoxLeft .selectedBox:nth-last-child(2) {
    display: none;
  }
}

@media (min-width: 1200px) {
  .selectedBoxRight .selectedBox:first-child {
    background: white;
    border: 1px solid #CCCCCC;
    padding: 5px;
    height: 272px;
    overflow: hidden;
    margin-bottom: 10px;
    color: #2e2e2e;
  }
  .selectedBoxRight .selectedBox:first-child h3 {
    height: 42px;
    width: unset;
  }
  .selectedBoxRight .selectedBox:first-child img {
    width: 100%;
    height: 141px;
    margin-bottom: 10px;
  }
  .selectedBoxRight .selectedBox:first-child i {
    position: absolute;
    right: 5px;
    bottom: 129px;
    padding: 4px;
    background: rgba(67, 19, 33, 0.7);
    color: white;
  }
  .selectedBoxRight .selectedBox:first-child .detailNews {
    height: 102px;
    overflow: hidden;
    vertical-align: top;
    width: 97%;
  }
  .selectedBoxRight .selectedBox:first-child .imgTitle {
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .selectedBoxRight .selectedBox:first-child .NewsShort {
    font-size: 11px;
    color: #2e2e2e;
    height: 40px;
    line-height: 20px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 880px !important;
  }
  .secMenu .nav-item {
    font-size: 12px;
    width: 87px;
  }
  .right {
    width: 100%;
    margin-left: 0;
  }
  .newsSlider {
    height: 451px;
  }
  .newsSlider img {
    height: 439px;
    width: 100%;
  }
  .newsSlider .newsSlider .carousel-caption {
    max-width: 600px;
  }
  .center {
    width: 49.5%;
  }
  .left {
    width: 48.5%;
  }
  .lastMedia {
    width: 100% !important;
  }
  .category .nav-tabs {
    display: none;
  }
  .category .cat_title_in {
    float: none;
  }
  .category .tabMenu {
    text-align: right;
    padding-bottom: 20px;
  }
  .category .tabMenu .nav-tabs .nav-link {
    margin: 0px 5px;
  }
  .category a {
    font-size: 10px;
    color: white;
  }
  .category .catNewsBox {
    text-align: center;
    margin: auto;
  }
  .category .newsBox {
    max-width: 23.7%;
    overflow: hidden;
  }
  .category .newsBox img {
    height: 110px;
  }
  .category .newsBox h3 {
    max-height: 47px;
  }
}

@media (max-width: 901px) {
  .container {
    max-width: 550px !important;
  }
  .firstMenu .col-md-7 {
    display: none;
  }
  .firstMenu nav ul li {
    font-size: 10px;
  }
  .firstMenu .searchBox {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .firstMenu .searchInputBox {
    font-size: 10px;
  }
  .newsSlider {
    height: 316px;
  }
  .newsSlider img {
    height: 304px;
    width: 100%;
  }
  .newsSlider .newsSlider .carousel-caption {
    max-width: 600px;
  }
  .secMenu {
    margin-bottom: 10px;
  }
  .secMenu li {
    margin-left: 7px;
  }
  .secMenu li.nav-item {
    width: 103px;
    text-align: right;
  }
  .shortBox {
    display: none;
  }
  .category .newsBox {
    max-width: 47%;
  }
  .category .newsBox img {
    height: 145px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 500px !important;
  }
  .secMenu li {
    font-size: 12px;
  }
  .newsSlider {
    height: 282px;
  }
  .newsSlider img {
    height: 271px;
    width: 100%;
  }
  .newsSlider .newsSlider .carousel-caption {
    max-width: 600px;
  }
  .center {
    width: 100%;
  }
  .selectedBox {
    width: 98%;
  }
  .col-sm-6.selectedBoxLeft {
    padding: 0 5px;
  }
  .mostView {
    margin-bottom: 10px;
  }
  .lastMedia .owl-carousel .item img {
    height: 133px;
    width: 237px;
  }
  .lastMedia .owl-carousel .item .carousel-caption {
    height: 98px;
    width: calc(100% - 230px);
  }
  .selectedBoxLeft {
    padding-left: 5px;
    margin-right: 10px;
  }
  .left {
    width: 100%;
  }
  .category .newsBox {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .category .newsBox img {
    height: 160px;
  }
  footer .footer .row .col-sm-3:not(.col-6) {
    display: none;
  }
  footer .footer .row .quickAc {
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 350px;
  }
  .newsSlider {
    height: 203px;
    margin-bottom: 12px;
  }
  .newsSlider img {
    height: 191px;
  }
  .newsSlider .carousel-caption h2 {
    font-size: 13px;
  }
  .impoNews .owl-carousel .owl-item a {
    width: 250px;
  }
}

@media (max-width: 370px) {
  .container {
    width: 300px;
  }
  .newsSlider {
    display: none;
  }
  .lastMedia {
    display: none;
  }
}

/*------------------------------newsCat page start--------------------------------*/
.newsCat .right {
  width: 60%;
  padding-left: 5px;
  margin-left: 0px;
}

.newsCat .right .wideAds {
  width: auto;
  margin-bottom: 0px;
}

.newsCat .right .newsSlider {
  height: 396px;
}

.newsCat .right .newsSlider img {
  height: 380px;
}

.newsCat .right .newsSlider .carousel-caption h2 {
  font-size: 18px;
}

.newsCat .newBoxes .newsBox {
  background: white;
  vertical-align: top;
  float: right;
  text-align: right;
  display: inline-block;
  border: 1px solid #CCCCCC;
  margin-top: 10px;
}

.newsCat .newBoxes .newsBox img {
  width: 215px;
  height: 132px;
  text-align: right;
  float: right;
  padding: 8px 8px 8px 0;
}

.newsCat .newBoxes .newsBox .detailNews {
  width: calc(100% - 250px);
  display: inline-block;
  float: right;
  margin: 7px 20px 0px 5px;
}

.newsCat .newBoxes .newsBox .detailNews .imgTitle {
  font-size: 14px;
  height: 19px;
  overflow: hidden;
  line-height: 20px;
  margin: 5px 0px 8px;
}

.newsCat .newBoxes .newsBox .detailNews .NewsShort {
  height: 45px;
  overflow: hidden;
  margin-bottom: 15px;
  color: #333333;
  line-height: 25px;
  font-size: 13px;
}

.newsCat .newBoxes .newsBox .newsTagTime {
  padding: 4px 2px 0;
  height: 11px;
  border-top: 1px solid #CCCCCC;
  vertical-align: bottom;
  color: Gray;
  font-size: 10px;
}

.newsCat .newBoxes .newsBox .newsTagTime .newsTime {
  display: inline-block;
  width: 140px;
  color: Gray;
}

.newsCat .newBoxes .newsBox .newsTagTime .newsTag {
  color: Gray;
  display: inline-block;
}

.newsCat .newBoxes .newsBox .newsTagTime .newsTag i {
  margin-left: 10px;
}

.newsCat .newBoxes .newsBox .newsTagTime .newsTag a {
  color: Gray;
}

.newsCat .center {
  width: 26%;
  padding-right: 5px;
}

.newsCat .center .lastNews {
  margin-bottom: 10px;
}

.newsCat .center .lastNews .content {
  height: 860px;
}

.newsCat .center .mostView .content {
  height: 872px;
}

.newsCat .left {
  width: 151px;
}

.newsCat .left img {
  width: 150px;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .newsCat .container {
    width: 880px !important;
  }
  .newsCat .right {
    width: 100%;
    padding-left: 0;
  }
  .newsCat .right .newBoxes .newsBox {
    margin-left: 10px;
    width: 49.3%;
  }
  .newsCat .right .newBoxes .newsBox:nth-child(2n) {
    margin-left: 0px;
  }
  .newsCat .right .newBoxes .newsBox img {
    width: 160px;
    height: 101px;
  }
  .newsCat .right .newBoxes .newsBox .detailNews {
    width: calc(100% - 178px);
    font-size: 12px;
    margin-right: 10px;
    line-height: 12px;
  }
  .newsCat .right .newBoxes .newsBox .detailNews .imgTitle {
    margin: 0 0 1px;
    font-size: 13px;
  }
  .newsCat .right .newBoxes .newsBox .detailNews .NewsShort {
    margin-bottom: 9px;
    font-size: 12px;
  }
  .newsCat .right .newBoxes .newsBox .newsTagTime {
    font-size: 9px;
  }
  .newsCat .center {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .newsCat .center .lastNews {
    width: 49.3%;
    float: right;
    margin: 10px 0px 10px 5px;
  }
  .newsCat .center .mostView {
    width: 49.3%;
    float: right;
    margin: 10px 5px 10px 0;
  }
  .newsCat .center .mostView .content {
    height: 880px;
  }
  .newsCat .left {
    display: none;
  }
}

@media (max-width: 900px) {
  .newsCat .Container .container {
    max-width: 650px !important;
  }
  .newsCat .right .newsSlider {
    height: 316px;
  }
  .newsCat .right .newsSlider img {
    height: 304px;
  }
  .newsCat .right .newBoxes .newsBox {
    width: 100%;
  }
  .newsCat .right .newBoxes .newsBox img {
    width: 175px;
    height: 110px;
  }
  .newsCat .right .newBoxes .newsBox .detailNews {
    width: calc(100% - 203px);
    margin: 0px 14px 0px 5px;
  }
  .newsCat .right .newBoxes .newsBox .detailNews .imgTitle {
    margin: 11px 0px 0;
  }
  .newsCat .right .newBoxes .newsBox .detailNews .NewsShort {
    margin: 7px 0px;
    line-height: 21px;
    height: 40px;
  }
  .newsCat .center {
    padding-left: 5px;
  }
  .newsCat .center .mostView {
    width: 49%;
  }
  .newsCat .center .mostView .content {
    height: 880px;
  }
  .newsCat .center .lastNews {
    width: 49%;
  }
}

@media (max-width: 575px) {
  .newsCat .container {
    max-width: 500px !important;
  }
  .newsCat .right .newsSlider {
    height: 286px;
  }
  .newsCat .right .newsSlider img {
    height: 274px;
  }
  .newsCat .center {
    padding-left: 0px;
    text-align: center;
  }
  .newsCat .center .lastNews {
    width: 350px;
    margin: auto;
    margin-top: 10px;
    float: none;
  }
  .newsCat .center .mostView {
    width: 350px;
    margin: auto;
    float: none;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .newsCat .container {
    max-width: 400px !important;
  }
  .newsCat .right .newsSlider {
    height: 231px;
  }
  .newsCat .right .newsSlider img {
    height: 219px;
  }
  .newsCat .right .newsSlider .carousel-caption h2 {
    font-size: 14px;
  }
  .newsCat .right .newBoxes .newsBox img {
    width: 150px;
    height: 96px;
  }
  .newsCat .right .newBoxes .newsBox .detailNews {
    width: calc(100% - 175px);
  }
  .newsCat .right .newBoxes .newsBox .detailNews .NewsShort {
    height: 40px;
    font-size: 11px;
    line-height: 19px;
    margin: 0px 0px 5px;
  }
  .newsCat .right .newBoxes .newsBox .detailNews .imgTitle {
    font-size: 12px;
  }
  .newsCat .right .newBoxes .newsBox .newsTagTime {
    font-size: 9px;
    padding: 2px;
  }
  .newsCat .right .newBoxes .newsBox .newsTagTime i {
    font-size: 8px;
  }
  .newsCat .center {
    padding-left: 0px;
    text-align: center;
  }
  .newsCat .center .lastNews {
    width: 99%;
    margin-left: 0;
  }
  .newsCat .center .mostView {
    width: 99%;
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  .newsCat .container {
    max-width: 310px !important;
  }
  .newsCat .right .newsSlider {
    height: 187px;
  }
  .newsCat .right .newsSlider img {
    height: 175px;
  }
  .newsCat .right .newBoxes .newsBox img {
    width: 135px;
    height: 88px;
    padding: 5px;
  }
  .newsCat .right .newBoxes .newsBox .detailNews {
    width: calc(100% - 150px);
    margin-right: 7px;
  }
  .newsCat .right .newBoxes .newsBox .detailNews .NewsShort {
    font-size: 10px;
  }
  .newsCat .right .newBoxes .newsBox .detailNews .imgTitle {
    font-size: 11px;
    margin-top: 2px;
  }
  .newsCat .right .newBoxes .newsBox .newsTagTime {
    font-size: 9px;
    padding: 2px;
  }
  .newsCat .right .newBoxes .newsBox .newsTagTime .newsTime {
    width: 100px;
  }
  .newsCat .right .newBoxes .newsBox .newsTagTime i {
    font-size: 8px;
  }
}

/*-------------------------------news page start----------------------------------*/
.news .right {
  width: 100%;
  margin: 0;
  padding: 0 0 0 5px;
}

.news .right .newsDetail {
  margin-bottom: 0;
}

.news .right .newsDetail .titleBg {
  background: #5f303c;
  padding: 7px 10px 5px 7px;
  vertical-align: center;
}

.news .right .newsDetail .titleBg i {
  margin: 3px;
  color: white;
}

.news .right .newsDetail .titleBg span {
  font-size: 11px !important;
  vertical-align: middle;
}

.news .right .newsDetail .titleBg .newsPath {
  padding: 0 8px;
  border-left: 1px solid #929292;
  -webkit-box-shadow: -1px 0px 0px 0px #3E111F;
  -moz-box-shadow: -1px 0px 0px 0px #3E111F;
  box-shadow: -1px 0px 0px 0px #3E111F;
}

.news .right .newsDetail .titleBg .newsPath a {
  color: white !important;
}

.news .right .newsDetail .titleBg .date {
  padding: 0 8px;
  border-left: 1px solid #929292;
  -webkit-box-shadow: -1px 0px 0px 0px #3E111F;
  -moz-box-shadow: -1px 0px 0px 0px #3E111F;
  box-shadow: -1px 0px 0px 0px #3E111F;
}

.news .right .newsDetail .titleBg .newsCode {
  padding: 0 8px;
  height: 5px;
  border-left: 1px solid #929292;
  -webkit-box-shadow: -1px 0px 0px 0px #3E111F;
  -moz-box-shadow: -1px 0px 0px 0px #3E111F;
  box-shadow: -1px 0px 0px 0px #3E111F;
}

.news .right .newsDetail .titleBg .newslike {
  margin-right: 5px;
  font-size: 14px;
}

.news .right .newsDetail .titleBg .newslike:focus i {
  color: red !important;
}

.news .right .newsDetail .dropdown {
  display: inline-block;
  width: 20px;
}

.news .right .newsDetail .dropdown .dropdown-menu {
  border-radius: unset;
  top: 3px !important;
  left: 7px !important;
  min-width: 20px;
}

.news .right .newsDetail .dropdown .dropdown-menu .dropdown-item {
  display: inline;
  padding: 0;
  margin: 0;
}

.news .right .newsDetail .dropdown .dropdown-menu i {
  color: #310018;
  font-size: 16px;
  padding: 0 2px 0;
}

.news .right .newsDetail .dropdown .dropdown-toggle:after {
  border: none;
}

.news .right .newsDetail .newsDetailBox {
  background: white;
  min-height: 250px;
  padding: 15px 0 5px;
  border: 1px solid #CCCCCC;
}

.news .right .newsDetail .newsDetailBox .newsTitle h1 {
  font-size: 19px;
  font-weight: 600;
  text-align: right;
  margin-bottom: 12px;
}

.news .right .newsDetail .newsDetailBox .newsTitle i {
  color: #5F303C;
  font-size: 19px;
}

.news .right .newsDetail .newsDetailBox .newsSummary {
  background: #F2F2F2;
  border: 1px solid #CCCCCC;
  font-size: inherit;
  padding: 3px;
  overflow: hidden;
  margin-bottom: 15px;
}

.news .right .newsDetail .newsDetailBox .newsSummary h2 {
  font-size: 15px;
  text-align: justify;
  margin-bottom: 0;
  padding-right: 5px;
}

.news .right .newsDetail .newsDetailBox .newsArticle p {
  max-width: 100%;
  margin-bottom: 10px;
  line-height: 22px;
  font-size: 13px;
}

.news .right .newsDetail .newsDetailBox .newsArticle img {
  border: 1px solid black;
  margin: 15px 0 15px;
  width: 700px;
}

.news .right .newsDetail .newsDetailBox .newsImage {
  width: 100%;
  padding: 5px;
  margin: auto;
}

.news .right .newsDetail .newsDetailBox hr {
  margin-bottom: 4px;
}

.news .right .newsDetail .newsTags {
  display: inline-block;
  margin: 0 5px;
  float: right;
  color: #2e2e2e !important;
}

.news .right .newsDetail .newsTags i {
  font-size: 11px;
  color: inherit;
  margin-left: 5px;
}

.news .right .newsDetail .newsTags a {
  color: #2e2e2e !important;
  margin-left: 10px;
  font-size: 12px;
}

.news .right .newsDetail .newsReport {
  float: left;
}

.news .right .newsDetail .newsReport i {
  color: #5F303C;
  font-size: 16px;
}

.news .right .commentBox {
  background: white;
  border: 1px solid #CCCCCC;
  margin-top: 10px;
  padding: 10px;
}

.news .right .commentBox hr {
  margin-top: 40px;
  background: rgba(95, 48, 60, 0.3);
}

.news .right .commentBox form {
  width: 100%;
}

.news .right .commentBox form #name, .news .right .commentBox form #email {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}

.news .right .commentBox form .g-recaptcha, .news .right .commentBox form .submit {
  display: inline-block;
  float: right;
}

.news .right .commentBox form .submit {
  float: right;
}

.news .right .commentBox form .submit input {
  margin: 36px 20px 0;
  background: #4c1324;
  width: 123px;
  height: 40px;
  color: white;
  vertical-align: top;
}

.news .right .commentBox form .text-full {
  width: 100%;
}

.news .right .commentBox form input, .news .right .commentBox form textarea {
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: #CCCCCC;
  outline-style: auto;
  outline-width: 5px;
  cursor: text;
  padding-right: 3px;
}

.news .right .commentBox form input:focus, .news .right .commentBox form textarea:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: #601a2f;
  outline-style: auto;
  outline-width: 5px;
}

.news .right .commentBox form .submit input {
  cursor: pointer;
}

.news .right .commentBox .commentShow {
  text-align: right;
  font-size: 16px;
  margin-bottom: 20px;
}

.news .right .commentBox .commentShow .userName {
  text-align: right;
  color: #6f1a34;
  font-size: 15px !important;
  font-weight: 600;
}

.news .right .commentBox .commentShow .date {
  margin: 0 10px 0;
  color: #868686;
  display: inline-block;
  font-size: 10px !important;
}

.news .right .commentBox .commentShow .content {
  font-size: 13px !important;
  margin-top: 15px;
}

.news .right .selectedBoxParent {
  overflow: hidden;
  padding: 10px 5px 0 5px;
  float: right;
}

.news .right .selectedBox {
  background: white;
  border: 1px solid #CCCCCC;
  overflow: hidden;
  float: right;
  color: #2e2e2e;
  width: 100%;
  margin-bottom: 0;
}

.news .right .selectedBox h3 {
  height: 42px;
  width: unset;
}

.news .right .selectedBox img {
  width: 100%;
  height: 138px;
  margin-bottom: 10px;
  margin-left: 0;
}

.news .right .selectedBox i {
  position: absolute;
  right: 5px;
  bottom: 69px;
  padding: 4px;
  background: rgba(67, 19, 33, 0.7);
  color: white;
}

.news .right .selectedBox .detailNews {
  height: 54px;
  overflow: hidden;
  vertical-align: top;
  width: 97%;
}

.news .right .selectedBox .imgTitle {
  font-size: 13px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 10px;
  text-align: center;
}

.news .right .selectedBox .NewsShort {
  font-size: 11px;
  color: #2e2e2e;
  height: 51px;
}

.news .left {
  width: 100%;
  margin: 0;
  padding: 0 5px 0 0;
}

.news .left .votePanel .content {
  background: white;
  margin-bottom: 10px;
  border: 1px solid #CCCCCC;
}

.news .left .votePanel label {
  display: block;
  text-align: right;
  padding: 3px 10px;
}

.news .left .votePanel p {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}

.news .left .votePanel input[type="radio"] {
  margin-left: 10px;
  vertical-align: middle;
}

.news .left .votePanel input[type="submit"] {
  margin: 0 20px 13px;
  background: #4c1324;
  padding: 0 25px;
  height: 40px;
  color: white;
  vertical-align: top;
  float: left;
  outline-width: 0px;
  cursor: pointer;
  border: 1px solid #5f303c;
  border-radius: 2px;
}

.news .left .mostView {
  margin-bottom: 10px;
}

.news .share_news_d .dropdown-menu {
  width: 200px;
  left: -11px;
  right: auto;
  top: 23px;
  font-size: 11px;
}

.news .share_news_d .dropdown-toggle:after {
  display: none;
}

@media (max-width: 300px) {
  .news .content_col_news_details .blue_bg {
    min-height: 59px;
  }
}

.news .share_news_d {
  float: left;
  width: 14px;
  margin-right: 12px;
  height: 18px;
  position: relative;
}

@media (min-width: 1200px) {
  .news .selectedBox:nth-child(3n) {
    margin-left: 0px;
  }
  .news .selectedBox:nth-child(3n-2) {
    margin-right: 0px;
  }
}

@media (max-width: 1200px) {
  .news .right {
    width: 570px;
    margin-left: 10px;
    padding: 0;
  }
  .news .left {
    width: 300px;
    padding: 0;
  }
  .news .left .votePanel label {
    font-size: 12px;
  }
  .news .left .votePanel p {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .news .right {
    width: 100%;
  }
}

@media (max-width: 1200px) and (min-width: 430px) {
  .news .selectedBoxParent:nth-child(2n) {
    padding-left: 0px;
  }
  .news .selectedBoxParent:nth-child(2n-1) {
    padding-right: 0px;
  }
}

@media (max-width: 900px) and (min-width: 575px) {
  .news .left {
    width: 100%;
    margin-top: 10px;
  }
  .news .left .mostView, .news .left .lastNews {
    width: 49%;
    float: right;
  }
  .news .left .lastNews {
    margin-right: 10px;
  }
  .news .left .lastNews .content {
    height: 717px;
  }
}

@media (max-width: 500px) {
  .news .right .newsDetail .titleBg {
    padding-right: 4px;
  }
  .news .right .newsDetail .titleBg i {
    margin: 3px;
    font-size: 10px !important;
  }
  .news .right .newsDetail .titleBg span {
    font-size: 10px !important;
  }
  .news .right .newsDetail .titleBg .newsPath {
    padding: 0 5px;
  }
  .news .right .newsDetail .titleBg .date {
    padding: 0 5px;
  }
  .news .right .newsDetail .titleBg .newsCode {
    padding: 0 0 0 5px;
    height: 5px;
  }
  .news .right .newsDetail .newsDetailBox .newsTitle h1 {
    font-size: 16px;
  }
  .news .right .newsDetail .newsDetailBox .newsSummary h2 {
    font-size: 13px;
  }
  .news .right .newsDetail .newsDetailBox .newsArticle p {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .news .container {
    max-width: 400px !important;
  }
  .news .right .selectedBox img {
    height: 104px;
  }
  .news .right .commentBox .g-recaptcha, .news .right .commentBox .submit {
    float: none;
    margin: auto;
  }
  .news .left {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 430px) {
  .news .container {
    max-width: 300px !important;
  }
  .news .right .selectedBoxParent {
    max-width: 100% !important;
  }
  .news .right .selectedBoxParent .selectedBox {
    height: 226px;
  }
  .news .right .selectedBoxParent .selectedBox img {
    height: 160px;
  }
}

/*-------------------------------mediaCat page start----------------------------------*/
.mediaCat .imgNews {
  float: right;
  width: 302px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

.mediaCat .imgNews img {
  width: 100%;
  height: 154px;
  margin: 10px 0px 0;
  border-top: 3px solid #666666;
}

.mediaCat .imgNews .detailNews {
  position: unset;
  text-align: right;
  font-size: 12px;
}

.mediaCat .imgNews .detailNews .imgTitle {
  font-size: 12px;
  text-align: center;
  color: #404040;
  max-height: 60px;
  margin: 0;
  padding: 5px;
  font-weight: 200;
  overflow: hidden;
  height: 43px;
}

.mediaCat .imgNews .detailNews .time, .mediaCat .imgNews .detailNews .tag {
  /* position: absolute; */
  font-size: 10px;
  color: gray;
  text-align: left;
  /* left: 18px; */
}

.mediaCat .imgNews .detailNews .time {
  margin-left: 5px;
  position: absolute;
  bottom: 60px;
  background: rgba(1, 1, 1, 0.6);
  color: white;
  padding: 3px;
  border-radius: 5px 0 0 5px;
}

.mediaCat .imgNews .detailNews .time i {
  margin-left: 4px;
}

.mediaCat .imgNews .detailNews .tag {
  margin-right: 5px;
  float: right;
}

.mediaCat .bestMediaBox {
  background: #4C1324;
  margin: 40px 0;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
}

.mediaCat .bestMediaBox h2 {
  width: 100%;
  text-align: right;
  border-bottom: 2px solid #c7929f;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 20px;
}

.mediaCat .bestMediaBox h2 span {
  background: #4C1324;
  padding: 0 10px;
  color: white;
}

.mediaCat .bestMediaBox .imageDivParent {
  overflow: hidden;
  padding: 10px 5px 0 5px;
  float: right;
}

.mediaCat .bestMediaBox .imageDivParent .imageDiv {
  background: white;
  border: 1px solid #CCCCCC;
  height: 191px;
  overflow: hidden;
  float: right;
  color: #2e2e2e;
  width: 100%;
  margin-bottom: 0;
}

.mediaCat .bestMediaBox .imageDivParent .imageDiv h3 {
  height: 42px;
  width: unset;
}

.mediaCat .bestMediaBox .imageDivParent .imageDiv img {
  width: 100%;
  height: 102px;
  margin-bottom: 2px;
}

.mediaCat .bestMediaBox .imageDivParent .imageDiv i {
  position: absolute;
  right: 5px;
  bottom: 69px;
  padding: 4px;
  background: rgba(67, 19, 33, 0.7);
  color: white;
}

.mediaCat .bestMediaBox .imageDivParent .imageDiv .detailNews {
  height: 102px;
  overflow: hidden;
  vertical-align: top;
  width: 97%;
}

.mediaCat .bestMediaBox .imageDivParent .imageDiv .imgTitle {
  font-size: 12px;
  font-weight: i;
  line-height: 22px;
  margin-bottom: 10px;
  text-align: right;
  padding: 0 5px;
  height: 44px;
  overflow: hidden;
}

.mediaCat .bestMediaBox .imageDivParent .imageDiv .NewsShort {
  font-size: 11px;
  color: #2e2e2e;
  height: 51px;
}

.mediaCat .bestMediaBox .imageDivParent .imageDiv .date {
  color: gray;
  padding: 0 8px;
  position: absolute;
  left: 0;
  bottom: 7px;
  font-size: 10px !important;
}

.mediaCat .bestMediaBox .imageDivParent:nth-child(2) .imageDiv {
  height: 392px;
}

.mediaCat .bestMediaBox .imageDivParent:nth-child(2) .imageDiv img {
  height: 210px;
  margin-bottom: 10px;
}

.mediaCat .bestMediaBox .imageDivParent:nth-child(2) .imageDiv .detailNews {
  height: 85px;
}

.mediaCat .bestMediaBox .imageDivParent:nth-child(2) .imageDiv .detailNews h3 {
  font-size: 19px;
  line-height: 29px;
  text-align: right;
  padding-right: 10px;
  height: 60px;
}

.mediaCat .bestMediaBox .imageDivParent:nth-child(2) .imageDiv .detailNews .date {
  font-size: 10px !important;
}

.mediaCat .bestMediaBox:nth-child(2n-1) {
  background: unset;
}

.mediaCat .bestMediaBox:nth-child(2n-1) h2 {
  border-color: #4C1324;
}

.mediaCat .bestMediaBox:nth-child(2n-1) h2 span {
  background: #edeff2;
  color: black;
}

.mediaCat .bestMediaBox:nth-child(2n-1) .imageDivParent:nth-child(2) {
  float: left;
}

.mediaCat .bestMediaBox:nth-child(2n-1) .imageDivParent:nth-child(2) .imageDivParent {
  float: left;
}

.mediaCat .lastMedia {
  width: 100%;
  margin-bottom: 40;
}

.mediaCat .lastMedia .Content .detailNews {
  width: calc(100% - 600px);
}

.mediaCat .lastMedia .Content .detailNews h3 {
  line-height: 30px;
  font-size: 16px;
}

.mediaCat .lastMedia .Content .owl-carousel .item h3 {
  font-size: 14px;
  color: #2e2e2e;
  line-height: 24px;
}

.mediaCat .lastMedia .Content .owl-carousel .item img {
  width: 740px;
  height: 413px;
  float: right;
}

.mediaCat .lastMedia .Content .owl-carousel .item .carousel-caption {
  width: calc(100% - 750px);
  left: 0;
  right: auto;
  height: 393px;
  font-size: 14px;
  line-height: 30px;
}

.mediaCat .lastMedia .Content .owl-carousel .item .carousel-caption h3 {
  font-size: 20px;
  height: 27px;
}

.mediaCat .lastMedia .Content .owl-carousel .item .carousel-caption div {
  height: 112px;
  overflow: hidden;
  color: #2e2e2e !important;
}

.mediaCat .lastMedia .Content .owl-carousel .item .time {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #b4b4b4 !important;
}

.mediaCat .lastMedia .Content .owl-carousel .item .time i {
  margin-left: 3px;
}

.mediaCat .lastMedia .Content .owl-prev, .mediaCat .lastMedia .Content .owl-next {
  top: 177px !important;
  font-size: 35px;
}

.mediaCat .lastMedia .Content .owl-prev i, .mediaCat .lastMedia .Content .owl-next i {
  color: grey;
}

.mediaCat .lastMedia .Content .owl-prev {
  left: 0px;
}

.mediaCat .lastMedia .Content .owl-next {
  right: 0;
}

/*-------------------------------searchPage page start----------------------------------*/
.searchPage .col-lg-12 {
  margin: auto;
}

.searchPage .col-lg-12 button.btn.btn-default {
  background: #4c1324;
  color: white;
}

.searchPage .col-lg-12 .input-group {
  min-height: 40px;
}

.searchPage .col-lg-12 button.btn.btn-default {
  height: 40px;
}

.searchPage select#categoryIds {
  width: 100%;
  border: 1px solid #4c1324;
  margin: 10px;
  border-radius: 4px;
}
